hackaton/database.py
hackaton/settings.py
hackaton/__pycache__
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/
.env
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.cover
.coverage
htmlcov/
*.egg-info/
*.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
celerybeat-schedule
*.sass-cache/
*.node_modules/
*.DS_Store
*.directory
*.envrc
.vscode/
.idea/
*.code-workspace
*.mypy_cache/
*.pytest_cache/
*.pyre/
*.ropeproject/